@if (Nodes.Any())
{
    <ul class="tree">
        @foreach (var node in Nodes)
        {
            var isExpanded = Owner.IsExpanded(node);
            var stateClass = isExpanded ? "node-open" : "node-closed";

            <li class="@stateClass">
                @{
                    var issueClass = Owner.IsMuted(node) ? "muted" : "";
                    var treeNode = node.TreeNode;
                }
                <div class="gh-issue @issueClass d-flex flex-row">
                    @{
                        var visibleClass = node.Children.Count == 0 ? "invisible" : "";
                        var bottomUpClass = treeNode.IsBottomUp ? "bottom-up" : "";
                        var glyph = isExpanded ? "oi-minus" : "oi-plus";
                        var allowFocus = !isExpanded ? "0" : null;
                    }
                    <span tabIndex="@allowFocus" class="oi @glyph tree-toggle @visibleClass" @onclick="() => Owner.ToggleNode(node)"></span>
                    <div class="gh-issue-kind-header @treeNode.Kind.ToString().ToLower() @bottomUpClass" />
                    <div>
                        <div>
                            <a class="gh-issue-title" href="@treeNode.Url" rel="noopener" target="_blank">
                                @if (treeNode.IsPrivate)
                                {
                                    <span class="oi oi-lock-locked text-muted small mr-1"></span>
                                }
                                @treeNode.Title
                            </a>
                            <span>
                                @foreach (var label in treeNode.Labels)
                                {
                                    <span class="gh-label"
                                          style="@label.GetStyle()">@label.Name</span>
                                }
                            </span>
                        </div>
                        <div class="gh-details-cell">
                            @if (treeNode.ReleaseInfo != null)
                            {
                                if (string.IsNullOrEmpty(treeNode.ReleaseInfo.Release))
                                {
                                    <span class="gh-project-status">@treeNode.ReleaseInfo.Status</span>
                                }
                                else
                                {
                                    <span class="gh-project-status">@treeNode.ReleaseInfo.Status for @treeNode.ReleaseInfo.Release</span>
                                }
                            }

                            @treeNode.DetailText

                            @if (treeNode.Milestone != null)
                            {
                                <span class="ml-2 mr-1 oi oi-signpost text-muted" aria-hidden="true"></span>@treeNode.Milestone
                            }

                            @if (treeNode.Assignees.Any())
                            {
                                var assigneeList = string.Join(", ", treeNode.Assignees);
                                <span class="ml-2 mr-1 oi oi-person text-muted" aria-hidden="true"></span>@assigneeList
                            }
                        </div>
                    </div>
                </div>

                @if (isExpanded)
                {
                    <TreeListItem Owner="@Owner" Nodes="@node.Children" />
                }
            </li>
        }
    </ul>
}

@code {

    [Parameter]
    public Pages.Index Owner { get; set; }

    [Parameter]
    public IReadOnlyList<ThemesOfDotNet.Pages.PageNode> Nodes { get; set; }
}
